
include \
    LICENSE \
    README.md \
    VERSION \
    setup.* \


exclude \
    .git* \
    requirements.txt \
    *.svg \
    *.png \
    *.jpg \
    *.jpeg \
    *.gif \
    *.bmp \
    *.ico \
    *.webp \
    test*.py \

prune build
prune dist